<mat-toolbar color="accent" class="header">
    <mat-toolbar-row style="text-align: center;display: inline-block;
    width: 100%;height: 20%;">
        <span>ZUOMO APP</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="Banner" style="text-align: center;display: inline-block;
    width: 100%;">
        <span>今天要ZUOMO</span>
    </mat-toolbar-row>
</mat-toolbar>
<br>

<div style="display: flex; justify-content: center;">
<form [formGroup]="loginForm" (ngSubmit)="authenticate()">
    <table>
        <tr>
            <mat-form-field>
                <mat-label>Email</mat-label>    
                <input matInput formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </tr>
        <tr>
            <mat-form-field>
                <mat-label>Password</mat-label>    
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint align="end">Minimum 3 characters</mat-hint>
            </mat-form-field>
        </tr>
        <tr>
            <div *ngIf="loginForm.invalid else elseblock">
                <button mat-raised-button color="" type="button">LOGIN</button>
            </div>
            <ng-template #elseblock>
                <button mat-raised-button color="accent" type="submit">LOGIN</button>
            </ng-template>
        </tr>
        <tr>
            <br>
            <button mat-raised-button color="warn" [routerLink]="['/register']">New User?</button>
        </tr>
    </table>
</form>
<br>
</div>

<br>
<br>
<br>
<p>
    SAMPLE ACCOUNTS: <br>
    a1@email.com, pw1 <br>
    a2@email.com, pw2
</p>
<!-- <p>New User? Click <button [routerLink]="['/register']">Here</button> To Register!</p>  -->