/* You can add global styles to this file, and also import other style files */
.Banner{
    color:blue;
    text-decoration: underline;
}

.clickable{
    color: blue;
    text-decoration: underline;
}