<p>details works!</p>
<table class="Banner">
    <tr>LINKS</tr>
    <tr>
        <td>
            <span [routerLink]="['/register']">Register</span>
        </td>
        <td>
            <span [routerLink]="['/search']">search</span>
        </td>
        <td>
            <span [routerLink]="['/results']">results</span>
        </td>
        <td>
            <span [routerLink]="['/details']">details</span>
        </td>
        <td>
            <span [routerLink]="['/comment']">comment</span>
        </td>
        <td>
            <span [routerLink]="['/home']">home</span>
        </td>
        <td>
            <span [routerLink]="['/login']">login</span>
        </td>
    </tr>
</table>

<table *ngIf="selectedlocation" border="1px">
    <tr>
        <td>Location Name: </td>
        <td>{{selectedlocation.name}}</td>
    </tr>
    <tr>
        <td>Description: </td>
        <td>{{selectedlocation.description}}</td>
    </tr>
    <tr>
        <td>UUID: </td>
        <td>{{selectedlocation.uuid}}</td>
    </tr>
    <tr>
        <td>Nearest MRT: </td>
        <td>{{selectedlocation.nearestMrtStation}}</td>
    </tr>
    <tr>
        <td>Contact: </td>
        <td>{{selectedlocation.contact.primaryContactNo}}</td>
    </tr>
    <tr>
        <td>LatLng: </td>
        <td>{{selectedlocation.location.longitude}},{{selectedlocation.location.latitude}}</td>
    </tr>
    <tr *ngFor="let image of selectedlocation.images">
        <td>Image Url: </td>
        <td>{{image.url}}</td>
    </tr>
    <tr>
        <td>Favourite?: </td>
        <td>{{selectedlocation.fav.toString()}}</td>
    </tr>
</table>
<h1>test google maps</h1>
<img src="https://maps.googleapis.com/maps/api/staticmap?center={{selectedlocation.location.latitude.toString()}},{{selectedlocation.location.longitude.toString()}}&zoom=14&size=400x400&key=AIzaSyCBsiF-fnqF2OddWShJ_wCYlB4OTK5NTuo" alt="">
<div *ngIf="selectedlocation.images.length>0">
    <img src={{selectedlocation.images[0].url}} width="500vw">
</div>
<br>
<div *ngIf="selectedlocation?.fav">
    <button type="button" (click)="removeFav()">Delete</button>
    <button type="button" (click)="toggleForm()">Comment</button>
    <div [hidden]="hideForm>0">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
            <table>
                <tr>
                    <td>Rating</td>
                    <td>
                        <input type="number" formControlName="rating" step="1" min="1" max="5" [defaultValue]="1">
                    </td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td>
                        <input type="text" formControlName="comment">
                    </td>
                </tr>
                <tr>
                    <td>Picture</td>
                    <td>
                        <input type="file" accept="image/*" formControlName="picture" #picture>
                    </td>
                </tr>
                <tr>
                    <button type="submit">Comment</button>
                </tr>
            </table>
        </form>
    </div>
</div>
<button type="button" [disabled]="selectedlocation.fav" (click)="addFav()">Save to Favourites</button>
<button type="button" [routerLink]="['/results']">Back to Results</button>
<button type="button" [routerLink]="['/search']">New Search</button>

<div *ngIf="selectedlocation.locationComments">
    <div *ngFor="let comment of selectedlocation.locationComments; let idx = index">
        <h3>User: {{selectedlocation.locationComments[idx].email}}</h3>
        <span>Comment: {{selectedlocation.locationComments[idx].comment}}</span><br>
        <span>Rating: {{selectedlocation.locationComments[idx].rating}}</span><br>
        <span>Image: {{selectedlocation.locationComments[idx].imageUUID}}</span><br>
        <img src="https://vttpws.sgp1.digitaloceanspaces.com/todo%2F{{selectedlocation.locationComments[idx].imageUUID}}" alt="" width="100vw">
        <span>Post_id: {{selectedlocation.locationComments[idx].post_id}}</span>
        <div [hidden]="!emailCheck(idx)">
            <button (click)="deleteComment(selectedlocation.locationComments[idx].post_id)">Delete Comment</button>
        </div>
    </div>
</div>
