<mat-toolbar color="accent" class="header">
    <mat-toolbar-row style="text-align: center;display: inline-block; width: 100%;height: 20%;">
        <span>ZUOMO APP</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="Banner" style="text-align: center;display: inline-block; width: 100%;">
        <button style="font-size: small;" mat-button [routerLink]="['/home']">
            <span>HOME</span>
            <mat-icon>home</mat-icon> 
        </button>|
        <button mat-button [routerLink]="['/results']">
            RESULTS <mat-icon>search</mat-icon></button>|
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/profile']">
                <span>My Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<br>
<div *ngIf="selectedlocation.images.length>0" style="text-align: center;">
    <img src={{selectedlocation.images[0].url}} width="400vw">
</div>


<div *ngIf="selectedlocation">
    <div style="display: flex; justify-content: center;">
        <h1>{{selectedlocation.name}}<span *ngIf="selectedlocation.fav"> &nbsp; <mat-icon style="color:orange">star</mat-icon></span></h1> 
    </div>
    <div style="display: flex; justify-content: center;">
        <mat-card class="cardM" style="padding-bottom: 1vw;">
            <mat-card-content>
                <p>
                    <b>Description: </b><span>{{selectedlocation.description}}</span>
                </p>
                <p>
                    <b>Type: </b><span>{{selectedlocation.dataset.replace("_", " and ") | titlecase}}</span>
                </p>
                <p>
                </p>
                <p>
                    <b>Contact: </b><span>{{selectedlocation.contact.primaryContactNo}}</span>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="parent">
            <div class="child" >
                <mat-card style="width: 30vw; height: 20vw;">
                    <div style="padding-top: 3vw;padding-bottom: 3vw;">
                        <b>Address: </b><span>{{selectedlocation.address.block}} {{selectedlocation.address.streetName}}, #{{selectedlocation.address.floorNumber}}-{{selectedlocation.address.unitNumber}}, {{selectedlocation.address.postalCode}}</span><br>
                        <b>Nearest MRT: </b><span>{{selectedlocation.nearestMrtStation}}</span>
                    </div>
                </mat-card>
            </div>
            <div class="child">
                    <iframe
                        height="300vh"
                        frameborder="0" style="border:0"
                        referrerpolicy="no-referrer-when-downgrade"
                        [src]="sanitizer.bypassSecurityTrustResourceUrl(this.gmap)"
                        >
                    </iframe>
            </div>
    </div>
</div>


<br>


<div *ngIf="selectedlocation?.fav" style="display: flex; justify-content: center;">
    <button mat-raised-button color="primary" type="button" (click)="removeFav()">Remove from Favourites</button> <span>&nbsp;&nbsp;&nbsp;</span>
    <button mat-raised-button color="primary" type="button" (click)="toggleForm()">Add Comment</button>
</div>
<div [hidden]="hideForm>0" >
    <div style="display: flex; justify-content: center;">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
            <table>
                <tr>
                    <mat-form-field>
                        <mat-select formControlName="rating" placeholder="Rating">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field>
                        <mat-label>Comment:</mat-label>
                        <input type="text" matInput formControlName="comment">
                    </mat-form-field>
                </tr>
                <tr>
                    <td>
                        <b>Upload Pic: </b>
                        <input type="file" accept="image/*" formControlName="picture" #picture>
                    </td>
                </tr>
                <tr>
                    <button mat-raised-button color="primary" type="submit">Post Comment</button>
                </tr>
            </table>
        </form>
    </div>

</div>

<div style="display: flex; justify-content: center;">
    <button mat-raised-button color="primary" type="button" [hidden]="selectedlocation.fav" (click)="addFav()">Save to Favourites</button>
</div>

<br>

<div *ngIf="selectedlocation.locationComments" style="margin: auto;width: 50%;padding-left: 10vw;">
    <div *ngFor="let comment of selectedlocation.locationComments; let idx = index">
        <mat-card style="width: 30vw; ">
            <div style="padding-left: 2vw; padding-top: 2vh; padding-bottom: 2vh;">
                <span style="padding: 0vw;"><b>User:</b> {{selectedlocation.locationComments[idx].email}}</span>
                <p>
                    <img src="https://vttpws.sgp1.digitaloceanspaces.com/todo%2F{{selectedlocation.locationComments[idx].imageUUID}}" alt="" width="100vw">
                </p>
                <b>Comment: </b> <span>{{selectedlocation.locationComments[idx].comment}}</span><br>
                <b>Rating: </b> <span>{{selectedlocation.locationComments[idx].rating}}</span><br>
                <br>
                <div [hidden]="!emailCheck(idx)">
                    <button mat-raised-button color="primary" (click)="deleteComment(selectedlocation.locationComments[idx].post_id)">Delete Comment</button>
                </div>
            </div>
        </mat-card>
        <br>
    </div>
</div>
