<p>details works!</p>
<table class="Banner">
    <tr>LINKS</tr>
    <tr>
        <td>
            <span [routerLink]="['/register']">Register</span>
        </td>
        <td>
            <span [routerLink]="['/search']">search</span>
        </td>
        <td>
            <span [routerLink]="['/results']">results</span>
        </td>
        <td>
            <span [routerLink]="['/details']">details</span>
        </td>
        <td>
            <span [routerLink]="['/comment']">comment</span>
        </td>
        <td>
            <span [routerLink]="['/home']">home</span>
        </td>
        <td>
            <span [routerLink]="['/login']">login</span>
        </td>
    </tr>
</table>

<table *ngIf="selectedlocation">
    <tr>
        <td>{{selectedlocation.name}}</td>
    </tr>
    <tr>
        <td>{{selectedlocation.description}}</td>
    </tr>
    <tr>
        <td>{{selectedlocation.uuid}}</td>
    </tr>
    <tr>
        <td>{{selectedlocation.nearestMrtStation}}</td>
    </tr>
    <tr>
        <td>{{selectedlocation.contact.primaryContactNo}}</td>
    </tr>
    <tr>
        <td>{{selectedlocation.location.longitude}},{{selectedlocation.location.latitude}}</td>
    </tr>
</table>

<button type="button" (click)="save()">Save to Favourites</button>
<button type="button" [routerLink]="['/results']">Back to Results</button>
<button type="button" [routerLink]="['/search']">New Search</button>